@font-face {
  font-family: "Space Mono";
  src: url("~assets/fonts/spacemono-regular-webfont.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "Space Mono-Bold";
  src: url("~assets/fonts/spacemono-bold-webfont.woff") format("woff");
  font-display: fallback;
}

$main-header-font: "Space Mono-Bold";
$main-body-font: "Space Mono";
$center-margin: 0 auto;
$main-padding: 0.75rem;

$main-background-color: white;
$main-body-color: #2e2b2e;
$main-header-color: white;
$main-accent-color: #48C9B0;

$secondary-background-color: #ECF0F1;
$secondary-text-color: #212F3C;