@font-face {
  font-family: 'Space Mono';
  src: url('~assets/fonts/spacemono-regular-webfont.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Space Mono-Bold';
  src: url('~assets/fonts/spacemono-bold-webfont.woff') format('woff');
  font-display: fallback;
}

$main-header-font: 'Space Mono-Bold';
$main-body-font: 'Space Mono';
$center-margin: 0 auto;
$main-padding: 0.75rem;

$main-background-color: white;
$main-body-color: #2e2b2e;
$main-header-color: white;
$main-accent-color: #48c9b0;
$main-box-shadow: 0 8px 6px -6px black;

$secondary-background-color: #ecf0f1;
$secondary-text-color: #212f3c;

$gradient-background-color: #8ec5fc;
$background-gradient: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
